[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "CDSim"]
	path = CDSim
	url = https://github.com/ikemillar/cdsim
[submodule "OmicsPrepR"]
	path = OmicsPrepR
	url = https://github.com/ikemillar/omicsprepr
